<%= form_for [:admin, event], html: { id: 'event-form' } do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :event_date %>
    <div class='input-group'>
      <% event_date = f.object.event_date ? f.object.event_date.strftime('%d-%B-%Y') : "" %>
      <%= f.text_field :event_date, value: event_date, class: 'form-control datepicker' %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :host_id %>
    <%= f.collection_select :host_id, User.all, :id, :name, { prompt: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control tinymce' %>
  </div>

  <div class="form-group row">
    <%= f.label :image, class: 'col-sm-12' %>
    <% if f.object.image.present? %>
      <div class="col-sm-3">
        <%= image_tag f.object.image.url, class: 'img-responsive' %>
      </div>
    <% end %>
    <div class="col-sm-9">
      <%= f.file_field :image, class: 'form-control' %>
      <div class="help-block">Max file size 5MB</div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :cover_image, class: 'col-sm-12' %>
    <% if f.object.cover_image.present? %>
      <div class="col-sm-3">
        <%= image_tag f.object.cover_image.url, class: 'img-responsive' %>
      </div>
    <% end %>
    <div class="col-sm-9">
      <%= f.file_field :cover_image, class: 'form-control' %>
      <div class="help-block">Recommended size 1520x250</div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :favourites %>
    <%= f.text_area :favourites, class: 'form-control tinymce' %>
  </div>

  <div class="form-group">
    <%= f.label :competitor_ids, 'Competitors' %>
    <%= f.collection_select :competitor_ids, User.all, :id, :name, {}, multiple: true, size: 10, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bounties %>
    <%= f.fields_for :bounties do |ff| %>
      <%= render 'bounty_fields', f: ff %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add new bounty', f, :bounties, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
