<li><%= link_to 'Home', inner_sanctum_path %></li>
<li><%= link_to 'Leagues', admin_leagues_path %></li>
<li><%= link_to 'Events', admin_events_path %></li>
<li><%= link_to 'Users', admin_users_path %></li>
<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>