<section class="blog" id="competitors">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>Competitors</p>
      <h3>The challengers</h3>
    </div>

    <% @users.each do |person| %>
      <% next unless person.name.present? %>
      <div class="row single-competitor">
        <div class="col-sm-3">
          <%= image_tag person.image.url(:large), class: 'img-responsive center-block' %>
        </div>
        <div class="col-sm-5">
          <h3 class="heading"><%= person.name %></h3>
          <% if person.nickname.present? %>
            <strong>Nickname:</strong>
            <p><%= person.nickname %></p>
          <% end %>
          <% if person.bio.present? %>
            <%= person.bio.try(:html_safe) %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <div class="skills-wrapper">
            <% person.skills.each do |skill| %>
              <h3 class="heading-progress"><%= skill.name %> <span class="pull-right"><%= "#{skill.value}%" %></span></h3>
              <div class="progress">
                <div class="progress-bar" style="width: <%= "#{skill.value}%" %>" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= skill.value %>" role="progressbar">
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>