<!--Home section start-->
<section id="slider" class=" clearfix">
  <div class="fullwidthbanner">
    <%= image_tag 'boss.jpg', class: 'img-fullwidth' %>
    <!-- http://www.shutterstock.com/pic-219554074.html -->
    <div class="main-heading">
      <h2>Do you have what it takes</h2>
      <h2>to be..</h2>
      <div class="center-title">
        <span class="center-line"></span>
      </div>
      <h1>MAJOR LEAGUE</h1>
    </div>
  </div>
</section>
<!--Home section end-->

<%= render 'countdown' %>

<%= render 'about' %>

<!--testimonials start-->
<div class="testimonials wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="center-title">
          <span class="center-line"></span>
          <p>What they say?</p>
          <h3>Testimonials</h3>
        </div>
      </div>
    </div><!--center heading end-->

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="testi-slide">
          <ul class="slides">
            <li>
              <%= image_tag 'customer-1.jpg' %>
              <p>
                <i class="ion-quote"></i>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
              </p>
              <h4 class="test-author">Rick man - <em>rock inc</em></h4>
            </li><!--testi item-->
            <li>
              <%= image_tag 'customer-2.jpg' %>
              <p>
                <i class="ion-quote"></i>
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years
              </p>
                <h4 class="test-author">Jellia - <em>Founder of tinka inc</em></h4>
            </li><!--testi item-->
            <li>
              <%= image_tag 'customer-3.jpg' %>
              <p>
                <i class="ion-quote"></i>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.
              </p>
              <h4 class="test-author">
                Smith - <em>Ceo, company inc.</em>
              </h4>
            </li><!--testi item-->
          </ul>
        </div><!--flex slider testimonials end here-->
      </div>
    </div><!--testi slider row end-->
    <div class="divide30"></div>
  </div>
</div><!--testimonials v-2 end-->
    <!--testimonials end-->



<!--Numbers section-->
<section class="numbers">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="ti-stats-up"></i>
        <h1 class="counter">5458</h1>
        <p>Apps Created</p>
      </div><!--col-->
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="ti-face-smile"></i>
        <h1 class="counter">456353</h1>
        <p>Happy Customers</p>
      </div><!--col-->
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="ti-stats-up"></i>
        <h1 class="counter">67</h1>
        <p>Members</p>
      </div><!--col-->
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="ti-heart"></i>
        <h1 class="counter">300</h1>
        <p>Heart beats</p>
      </div><!--col-->
    </div><!--row-->
  </div><!--container-->
</section>
<!--Numbers section end-->


<!--services section start-->
<section id="services">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>What We Do?</p>
      <h3>Services</h3>
    </div>

    <div class="row special-feature">
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-image"></i>
            <!-- Title -->
            <h4>Graphic Design</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-image"></i>
            <!-- Title -->
            <h4>Graphic Design</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>

      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-mobile"></i>
            <!-- Title -->
            <h4>Responsive design</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-mobile"></i>
            <!-- Title -->
            <h4>Responsive design</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-ruler-pencil"></i>
            <!-- Title -->
            <h4>Clean & valid Code</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-ruler-pencil"></i>
            <!-- Title -->
            <h4>Clean & valid Code</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-gift"></i>
            <!-- Title -->
            <h4>Free Support & Updates</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-gift"></i>
            <!-- Title -->
            <h4>Free Support & Updates</h4>
            <!-- Text -->
            <p>Assan Release the updates time to time. more big updates are coming in future. keep in touch and and enjoy all updates free of cost. </p>
          </div>
        </div>
      </div><!--services col-->
    </div>
    <!--service row end-->
    <div class="row special-feature">
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-email"></i>
            <!-- Title -->
            <h4>Marketing</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-email"></i>
            <!-- Title -->
            <h4>Marketing</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>

      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-light-bulb"></i>
            <!-- Title -->
            <h4>Creative Team</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-light-bulb"></i>
            <!-- Title -->
            <h4>Creative Team</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-bar-chart"></i>
            <!-- Title -->
            <h4>Development</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-bar-chart"></i>
            <!-- Title -->
            <h4>Development</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-location-arrow"></i>
            <!-- Title -->
            <h4>Seo Ready</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-location-arrow"></i>
            <!-- Title -->
            <h4>Seo Ready</h4>
            <!-- Text -->
            <p>Assan Release the updates time to time. more big updates are coming in future. keep in touch and and enjoy all updates free of cost. </p>
          </div>
        </div>
      </div><!--services col-->
    </div>
    <!--service row end-->
  </div>
</section>
<!--end services section-->


<!--work section-->
<section id="work">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>Recent work.</p>
      <h3>Portfolio</h3>
    </div>

    <!--cube portfolio-->
    <div class="portfolio-cube">

      <div id="filters-container" class="cbp-l-filters-button">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
          All <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".identity" class="cbp-filter-item">
          Identity <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".web-design" class="cbp-filter-item">
          Web Design <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".graphic" class="cbp-filter-item">
          Graphic <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".logos" class="cbp-filter-item">
          Logo <div class="cbp-filter-counter"></div>
        </div>
      </div>

      <div id="grid-container" class="cbp">
        <div class="cbp-item graphic">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-1.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="<%= asset_url "img-1.jpg" %>" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Dashboard</div>
          <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
        </div>
        <div class="cbp-item web-design logos">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-2.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="<%= asset_url "img-2.jpg" %>" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock Widget<br>by Paul Flavius Nechita">view larger</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">World Clock Widget</div>
          <div class="cbp-l-grid-projects-desc">Logo / Web Design</div>
        </div>
        <div class="cbp-item graphic logos">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-3.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="<%= asset_url "img-3.jpg" %>" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">To-Do Dashboard</div>
          <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
        </div>
        <div class="cbp-item web-design graphic">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-4.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/4900333&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Events and  More<br>by Tiberiu Neamu">view sound</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Events and More</div>
          <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
        </div>
        <div class="cbp-item identity web-design">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-5.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="img/img-5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="WhereTO App<br>by Tiberiu Neamu">view larger</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">WhereTO App</div>
          <div class="cbp-l-grid-projects-desc">Web Design / Identity</div>
        </div>
        <div class="cbp-item identity web-design">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-6.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="img/img-6.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Ski * Buddy</div>
          <div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
        </div>
        <div class="cbp-item graphic logos">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-7.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="img/img-7.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view sound</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Seemple* Music for iPad</div>
          <div class="cbp-l-grid-projects-desc">Graphic / Logo</div>
        </div>
        <div class="cbp-item identity graphic">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-8.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="http://www.youtube.com/watch?v=Bu9OiDmxCrQ" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Remind~Me More<br>by Tiberiu Neamu">view video</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Remind~Me More</div>
          <div class="cbp-l-grid-projects-desc">Identity / Graphic</div>
        </div>
        <div class="cbp-item web-design graphic">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-9.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="img/img-9.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Workout Buddy<br>by Tiberiu Neamu">view video</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Workout Buddy</div>
          <div class="cbp-l-grid-projects-desc">Web Design / Graphic</div>
        </div>
        <div class="cbp-item identity web-design">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-1.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="https://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bills Bills Bills<br>by Cosmin Capitanu">view video</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Bills Bills Bills</div>
          <div class="cbp-l-grid-projects-desc">Identity / Web Design</div>
        </div>
        <div class="cbp-item identity logos">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-2.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="img/img-2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Generic Apps<br>by Cosmin Capitanu">view video</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Generic Apps</div>
          <div class="cbp-l-grid-projects-desc">Identity / Logo</div>
        </div>
        <div class="cbp-item graphic web-design">
          <div class="cbp-caption">
            <div class="cbp-caption-defaultWrap">
              <%= image_tag "img-3.jpg" %>
            </div>
            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                  <%= link_to 'more info', events_path, class: 'cbp-singlePage cbp-l-caption-buttonLeft' %>
                  <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/26519543&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Speed Detector<br>by Cosmin Capitanu">view sound</a>
                </div>
              </div>
            </div>
          </div>
          <div class="cbp-l-grid-projects-title">Speed Detector</div>
          <div class="cbp-l-grid-projects-desc">Graphic / Web Design</div>
        </div>
      </div>

      <div id="loadMore-container" class="cbp-l-loadMore-button">
        <a href="ajax/loadMore.html" class="cbp-l-loadMore-link">
          <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
          <span class="cbp-l-loadMore-loadingText">LOADING...</span>
          <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
        </a>
      </div>

    </div>
    <!--end cube portfolio-->

  </div>
</section>
<!--end work section-->


<section class="blog">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>latest from the blog</p>
      <h3>News</h3>
    </div>

    <div class="row">
      <div id="owl-news">
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-1.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Amazing Updates</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-2.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Easy to customize</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-3.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Waiting for New Updates</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-4.jpg', class: 'img-responsive' %>
            <h3><a href='#'>New Side Panel</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<h1>Major League</h1>

<div>countdown</div>

<%= render 'rules' %>
<%= render 'events' %>
<%= render 'leaderboard' %>
<%= render 'competitors' %>

