<!--Home section start-->
<section id="slider" class=" clearfix">
  <div class="fullwidthbanner">
    <%= image_tag 'boss2.jpg', class: 'img-fullwidth' %>
    <div class="main-heading">
      <h2>Do you have what it takes</h2>
      <h2>to be..</h2>
      <div class="center-title">
        <span class="center-line"></span>
      </div>
      <h1>MAJOR LEAGUE</h1>
    </div>
  </div>
</section>
<!--Home section end-->

<%= render 'about' %>
<%= render 'leaderboard' %>
<%= render 'countdown' %>
<%= render 'events' %>
<%= render 'competitors' %>

