<!--Home section start-->
<section id="slider" class=" clearfix">
  <div class="fullwidthbanner">
    <%= image_tag 'boss.jpg', class: 'img-fullwidth' %>
    <!-- http://www.shutterstock.com/pic-219554074.html -->
    <div class="main-heading">
      <h2>Do you have what it takes</h2>
      <h2>to be..</h2>
      <div class="center-title">
        <span class="center-line"></span>
      </div>
      <h1>MAJOR LEAGUE</h1>
    </div>
  </div>
</section>
<!--Home section end-->

<%= render 'countdown' %>

<%= render 'about' %>

<%= render 'events' %>


<!--services section start-->
<section id="services">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>What We Do?</p>
      <h3>Services</h3>
    </div>

    <div class="row special-feature">
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-image"></i>
            <!-- Title -->
            <h4>Graphic Design</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-image"></i>
            <!-- Title -->
            <h4>Graphic Design</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>

      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-mobile"></i>
            <!-- Title -->
            <h4>Responsive design</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-mobile"></i>
            <!-- Title -->
            <h4>Responsive design</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-ruler-pencil"></i>
            <!-- Title -->
            <h4>Clean & valid Code</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-ruler-pencil"></i>
            <!-- Title -->
            <h4>Clean & valid Code</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-gift"></i>
            <!-- Title -->
            <h4>Free Support & Updates</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-gift"></i>
            <!-- Title -->
            <h4>Free Support & Updates</h4>
            <!-- Text -->
            <p>Assan Release the updates time to time. more big updates are coming in future. keep in touch and and enjoy all updates free of cost. </p>
          </div>
        </div>
      </div><!--services col-->
    </div>
    <!--service row end-->
    <div class="row special-feature">
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-email"></i>
            <!-- Title -->
            <h4>Marketing</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-email"></i>
            <!-- Title -->
            <h4>Marketing</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>

      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-light-bulb"></i>
            <!-- Title -->
            <h4>Creative Team</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-light-bulb"></i>
            <!-- Title -->
            <h4>Creative Team</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-bar-chart"></i>
            <!-- Title -->
            <h4>Development</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-bar-chart"></i>
            <!-- Title -->
            <h4>Development</h4>
            <!-- Text -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
          </div>
        </div>
      </div><!--services col-->
      <div class="col-md-3 col-sm-6 margin-b-20">
        <div class="s-feature-box text-center wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
          <div class="mask-top">
            <!-- Icon -->
            <i class="ti-location-arrow"></i>
            <!-- Title -->
            <h4>Seo Ready</h4>
          </div>
          <div class="mask-bottom">
            <!-- Icon -->
            <i class="ti-location-arrow"></i>
            <!-- Title -->
            <h4>Seo Ready</h4>
            <!-- Text -->
            <p>Assan Release the updates time to time. more big updates are coming in future. keep in touch and and enjoy all updates free of cost. </p>
          </div>
        </div>
      </div><!--services col-->
    </div>
    <!--service row end-->
  </div>
</section>
<!--end services section-->


<section class="blog">
  <div class="container">
    <div class="center-title">
      <span class="center-line"></span>
      <p>latest from the blog</p>
      <h3>News</h3>
    </div>

    <div class="row">
      <div id="owl-news">
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-1.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Amazing Updates</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-2.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Easy to customize</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-3.jpg', class: 'img-responsive' %>
            <h3><a href='#'>Waiting for New Updates</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <div class='news-col'>
            <%= image_tag 'img-4.jpg', class: 'img-responsive' %>
            <h3><a href='#'>New Side Panel</a></h3>
            <ul class="list-inline">
              <li><a href="#"><i class="ti-user"></i> By Admin</a></li>
              <li><a href="#"><i class="ti-comments"></i> 4 Comments</a></li>
              <li><i class="ti-calendar"></i> 27 Sep. 2015</li>
            </ul>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.
            </p>
            <a href="#" class="btn btn-default"> Continue <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<h1>Major League</h1>

<div>countdown</div>

<%= render 'leaderboard' %>
<%= render 'competitors' %>

