<div class="container with-padding-50">
  <% unless all_tasks_done?(@user, @event) %>
    <div class="instructions well">
      <p class="lead">
        Alright you worthless sack of shit, you need to do a couple of things:
      </p>

      <% unless user_tasks_done?(@user) %>
        <section>
          <%= link_to edit_user_registration_path do %>
            <h4>Set up your profile</h4>
          <% end %>
          <ul class="dashed">
            <% unless @user.name.present? %>
              <li>Add your real name (and optionally a nickname)</li>
            <% end %>

            <% unless @user.image.present? %>
              <li>Add a picture of your filthy face</li>
            <% end %>

            <% unless @user.bio.present? %>
              <li>Give yourself a humorous description</li>
            <% end %>

            <% unless @user.skills.present? %>
              <li>Make up some legendary skills</li>
            <% end %>
          </ul>
        </section>
      <% end %>

      <% unless event_tasks_done?(@event) %>
        <section>
          <%= link_to edit_event_path(@event) do %>
            <h4>Set up your event</h4>
          <% end %>
          <p>Everyone needs to plan and organise one event. You can pick whatever you want, but if you choose something shit, we'll bash ya.</p>
          <ul class="dashed">
            <% unless @event.name.present? %>
              <li>Give your event a name</li>
            <% end %>

            <% unless @event.event_date.present? %>
              <li>Pick a month (first Sunday of the month)</li>
            <% end %>

            <% unless @event.image.present? %>
              <li>Give your event an image</li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>My Points: <%= @user.points || 0 %></strong>
    </div>
    <ul class="list-group">
      <% @user.events.each do |event| %>
        <% next unless event.name.present? %>
        <li class="list-group-item">
          <strong><%= event.name %></strong>:
          <%= event.user_points(@user) %> points
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= render 'leaderboard' %>
  </div>
</div>