<div class="single-event">
  <div class="event-banner">
    <%= image_tag @event.cover_image.url, class: 'img-responsive' %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="project-detail">
          <div class="pull-right event-date">
            <span class="fa fa-calendar"></span>
            <%= @event.event_date.try(:strftime, '%B %d, %Y') %>
          </div>
          <h2><%= @event.name %></h2>
          <div class="divider left"></div>
          <em>Hosted by <%= @event.host.try(:name) %></em>
          <% if @event.winner.present? %>
            <p class="winner"><i class="fa fa-trophy"></i> <%= @event.winner.name %></p>
          <% end %>
        </div>

        <hr>
        <div>
          <% if @event.address.present? %>
            <p><strong class="colored-text">Address: </strong><%= @event.address %></p>
          <% end %>
          <p class="lead"><%= @event.description.try(:html_safe) || 'TBA' %></p>

          <% if @event.favourites.present? %>
            <p class="colored-text"><strong>Bookies' Favourites:</strong></p>
            <p>
              <%= @event.favourites.try(:html_safe) %>
            </p>
          <% end %>
        </div>

        <% if @event.competitors.count > 1 %>
          <div class="event-competitors">
            <h3>Competitors</h3>
            <% @event.competitors.each do |competitor| %>
              <div class="single-competitor clearfix">
                <%= image_tag competitor.image.url(:thumb), class: 'img-responsive', title: competitor.name %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>