<%= form_for [:admin, user], html: { id: 'admin-user-form'} do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: 'form-control rte' %>
  </div>

  <div class="form-group row">
    <%= f.label :image, class: 'col-sm-12' %>
    <% if f.object.image.present? %>
      <div class="col-sm-3">
        <%= image_tag f.object.image.url(:medium), class: 'img-responsive' %>
      </div>
    <% end %>
    <div class="col-sm-9">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :skills %></h4>
    <% f.object.skills.build unless f.object.skills.present? %>
    <%= f.fields_for :skills do |ff| %>
      <%= render 'shared/skill_fields', f: ff %>
    <% end %>
    <div class="links" id="add-skill">
      <%= link_to_add_association 'Add Skill', f, :skills, partial: 'shared/skill_fields', class: 'btn btn-default' %>
    </div>
  </div>

  <div class="actions text-center">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
